.catalog {
   overflow-x: hidden;  // гориз скролл пояится
   padding-top: 24px;
   padding-bottom: 24px;

   @media (min-width: 580px) {
         padding-top: 32px;
         
   }

   @media (min-width: 820px) {
         padding-top: 40px;
        
   }

}


.container {
         padding: 0;

         @media (min-width: 1120px) {
        
         }
}


.list {
         overflow-x: auto;
         padding: 0 16px; 
         display: flex;
         gap: 4px;
         
         @media (min-width: 580px) {
               padding: 0 29px; 
         }
   
         @media (min-width: 820px) {
               padding: 0 43px; 
         }
   
         @media (min-width: 1120px) {
               padding: 0 92px;
         }
}


 .link {
         display: block;
         padding: 10px 14px;
         border-radius: 32px;
         background-color: #EEEFF2;
         color: #969EAE;
         outline: none;
         border: 1px solid transparent;
         white-space: nowrap;  // чтобы текст не переносился

         &:hover,
         &:focus-visible{
               border-color: #780096;
               color: #780096;
         }

         &:active, 
         &--active{
               background-color: #780096;
               color: #ffffff;

               &:hover,
               &:focus-visible{
                     color: #ffffff;
               }
         }

         &--active{
               pointer-events: painted;
         }
}

