.developers {

   @media (min-width: 580px) {
     grid-column: 1/2;
   }
 }


.item {
   margin-bottom: 8px;

   &:last-child {
     margin-bottom: 0;
   }
}


.link{
   
   &:hover,
   &:active{
      color: #780096;
   }

   &:focus{
      color: #780096;
      outline-color: #780096;
   }
}