.phone{
   display: flex;
   gap: 4px;
   margin-bottom: 20px;
}


.list{
   display: flex;
   gap: 8px;
}


.item {
   margin-bottom: 8px;

   &:last-child {
     margin-bottom: 0;
   }
}


.link{
   
   &:hover,
   &:active{
      color: #780096;
   }

   &:focus{
      color: #780096;
      outline-color: #780096;
   }
}

 